#validation {
  text-align: center;  
  max-width: fit-content;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  align-self: center;
  color: crimson;
}
#clear_panier {
  text-align: center;  
  max-width: fit-content;
  padding: 10px;
  font-weight: bold;
  align-self: center;
  color: crimson;

}
