footer {
  width: 100%;
  background-color: #232f3e;
  color: #fff;
  #footer {
    padding: 20px 0px 20px 0px;
  }
  .backtotop {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0px 20px 0px;
    background-color: #485769;
  }
  ul {
    display: flex;
    justify-content: space-around;
    li {
      display: flex;
      flex-direction: column;
    }
  }
  a {
    list-style-type: none;
    color: #fff;

    :visited {
      color: #fff;
    }
  }
}
